.Our-Clients {
  background-color: #f5f6fa;
  margin-bottom: 1rem;
  .raw-text {
    font: Fira Sans;
    font-size: 42px;
    font-weight: Condensed bolder;
  }
  .raw-container2 {
    margin: 0 10%;
    border: 1px solid black;
  }
  img {
    margin: 1rem;
  }
}
