.Site-Main {
  .Site-Banner {
    background-image: url("/Images/Rectangle\ 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    color: white;
  }
  .title-text {
    padding-top: auto;
    line-height: normal;
    color: white;
  }
}
