@import "navbar";
@import "main";
@import "about";
@import "services";
@import "resume";
@import "clients";
@import "activities";
@import "footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
